html {
    font-family: sans-serif;
    text-size-adjust: 100%
}

body {
    margin: 0
}

audio {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

a {
    background-color: transparent
}

:hover, a:active {
    outline: 0
}

b {
    font-weight: 700;
    color: #ff1000
}

h1 {
    margin: .67em 0;
    font-size: 2em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

button {
    margin: 0;
    font: inherit;
    color: inherit
}

button {
    overflow: visible
}

button {
    text-transform: none
}

button {
    appearance: none;
    cursor: pointer
}

button[disabled] {
    cursor: default
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

@media print {
    *, r {
        color: #000 !important;
        text-shadow: none !important;
        background: 0 0 !important;
        box-shadow: none !important
    }

    a {
        text-decoration: underline
    }

    a[href]::after {
        content: " (" attr(href) ")"
    }

    a[href^="#"], a[href^="javascript:"] {
        pointer-events: none
    }

    img {
        page-break-inside: avoid
    }

    img {
        max-width: 100% !important
    }

    h2 {
        orphans: 3;
        widows: 3
    }

    h2 {
        page-break-after: avoid
    }
}

* {
    box-sizing: border-box
}

::after {
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff
}

button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: rgb(255 255 255 / 0%);
    color: rgb(255 255 255 / 0%);
    border: none
}

a {
    color: #337ab7;
    text-decoration: none
}

:hover, a:focus {
    color: #23527c;
    text-decoration: underline
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

figure {
    margin: 0
}

img {
    vertical-align: middle
}

img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}

[role="button"] {
    cursor: pointer
}

p {
    margin: 0 0 10px
}

t {
    line-height: 1.42857143
}

@media (width >= 768px) {
}

@media (width >= 992px) {
}

@media (width >= 1200px) {
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

col-sm-1, col-sm-10, col-sm-11, col-sm-12, col-sm-2, col-sm-3, col-sm-4, col-sm-5, col-sm-6, col-sm-7, col-sm-8, col-sm-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

@media (width >= 768px) {

}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }

    to {
        background-position: 0 0
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }

    to {
        background-position: 0 0
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }

    to {
        background-position: 0 0
    }
}

container-fluid::after, container-fluid::before, container::after, container::before, nav::after, nav::before, row::after, row::before {
    display: table;
    content: " "
}

container-fluid::after, container::after, nav::after, row::after {
    clear: both
}

visible-sm {
    display: none !important
}

visible-sm-inline {
    display: none !important
}

@media (width >= 768px) and (width <= 991px) {
}

@media (width >= 768px) and (width <= 991px) {
}


[class*="ti-"], [class^="ti-"] {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}


@keyframes fa-spin {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(359deg)
    }
}

@keyframes fa-spin {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(359deg)
    }
}

@keyframes kenburns {
    0% {
        transform: scale(1.5)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes kenburns {
    0% {
        transform: scale(1.5)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes kenburnsDownLeft {
    0% {
        transform: scale(1.5) translate(10%, -10%)
    }

    100% {
        transform: scale(1) translate(0, 0)
    }
}

@keyframes kenburnsDownLeft {
    0% {
        transform: scale(1.5) translate(10%, -10%)
    }

    100% {
        transform: scale(1) translate(0, 0)
    }
}

@keyframes kenburnsDownRight {
    0% {
        transform: scale(1.5) translate(-10%, -10%)
    }

    100% {
        transform: scale(1) translate(0, 0)
    }
}

@keyframes kenburnsDownRight {
    0% {
        transform: scale(1.5) translate(-10%, -10%)
    }

    100% {
        transform: scale(1) translate(0, 0)
    }
}

@keyframes kenburnsDown {
    0% {
        transform: scale(1.5) translate(0, -10%)
    }

    100% {
        transform: scale(1) translate(0, 0)
    }
}

@keyframes kenburnsDown {
    0% {
        transform: scale(1.5) translate(0, -10%)
    }

    100% {
        transform: scale(1) translate(0, 0)
    }
}

@keyframes kenburnsLeft {
    0% {
        transform: scale(1.5) translate(10%, 0)
    }

    100% {
        transform: scale(1) translate(0, 0)
    }
}

@keyframes kenburnsLeft {
    0% {
        transform: scale(1.5) translate(10%, 0)
    }

    100% {
        transform: scale(1) translate(0, 0)
    }
}

@keyframes kenburnsRight {
    0% {
        transform: scale(1.5) translate(-10%, 0)
    }

    100% {
        transform: scale(1) translate(0, 0)
    }
}

@keyframes kenburnsRight {
    0% {
        transform: scale(1.5) translate(-10%, 0)
    }

    100% {
        transform: scale(1) translate(0, 0)
    }
}

@keyframes kenburnsUpLeft {
    0% {
        transform: scale(1.5) translate(10%, 10%)
    }

    100% {
        transform: scale(1) translate(0, 0)
    }
}

@keyframes kenburnsUpLeft {
    0% {
        transform: scale(1.5) translate(10%, 10%)
    }

    100% {
        transform: scale(1) translate(0, 0)
    }
}

@keyframes kenburnsUpRight {
    0% {
        transform: scale(1.5) translate(-10%, 10%)
    }

    100% {
        transform: scale(1) translate(0, 0)
    }
}

@keyframes kenburnsUpRight {
    0% {
        transform: scale(1.5) translate(-10%, 10%)
    }

    100% {
        transform: scale(1) translate(0, 0)
    }
}

@keyframes kenburnsUp {
    0% {
        transform: scale(1.5) translate(0, 10%)
    }

    100% {
        transform: scale(1) translate(0, 0)
    }
}

@keyframes kenburnsUp {
    0% {
        transform: scale(1.5) translate(0, 10%)
    }

    100% {
        transform: scale(1) translate(0, 0)
    }
}